@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Roboto&display=swap");
.modal {
  background-color: rgba(82, 67, 81, 0.7);
  padding: 20px 0;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
  opacity: 1;
}
.modal .modal-wrapper {
  max-width: 400px;
  margin: auto;
  background-color: #D6BBD3;
  border-radius: 5px;
  border: 1px solid #B99BB6;
}
.modal .modal-wrapper .modal-order-content {
  padding: 20px 10px;
  position: relative;
}
.modal .modal-wrapper .modal-close {
  position: absolute;
  top: 0;
  right: -30px;
  padding: 2px;
}

.order-form {
  display: grid;
  gap: 10px;
}
.order-form h2 {
  text-align: center;
}
.order-form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.order-form .order-payment-type div {
  display: flex;
  gap: 5px;
}

input,
textarea,
select {
  border: 1px solid #B99BB6;
  border-radius: 5px;
  padding: 3px;
}

* {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

html,
body,
ul,
li,
link,
a {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

h1 {
  font-size: 45px;
  line-height: 55px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

button,
.btn {
  background-color: #CEB3CB;
  border: 1px solid #B99BB6;
  border-radius: 3px;
  color: #ffffff;
  font-size: 1.125em;
  text-align: center;
  padding: 1em 2.75em;
  cursor: pointer;
}

button:hover,
.btn:hover {
  background-color: #B08EAD;
}

.section-category {
  background-color: #ffffff;
  padding: 20px 0;
}
.section-category .container {
  max-width: 1265px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 5px;
}

.for_img {
  max-width: 377px;
  max-height: 377px;
  overflow: hidden;
}
.for_img img {
  width: 100%;
  display: block;
  padding-bottom: 9px;
}

.categories_div {
  width: 30%;
  height: 90vh;
  background-color: #D6BBD3;
}
.categories_div ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.categories_div li {
  text-align: left;
}

.goods_wrapper .goods_item,
.good_wrapper .goods_item {
  width: 100%;
  break-inside: avoid;
  text-align: center;
  display: grid;
  border: 1px solid #B99BB6;
  border-radius: 3px;
  margin-bottom: 10px;
}
.goods_wrapper .goods_item h3,
.good_wrapper .goods_item h3 {
  font-size: 18px;
  padding-bottom: 7px;
}
.goods_wrapper .goods_item p,
.good_wrapper .goods_item p {
  font-size: 14px;
  padding-bottom: 5px;
}
.goods_wrapper .goods_item p:last-of-type,
.good_wrapper .goods_item p:last-of-type {
  color: #B0B0B0;
}
.goods_wrapper .goods_item a,
.good_wrapper .goods_item a {
  padding: 0.5em 1em;
}

.goods_wrapper {
  width: 30%;
  columns: 2 100px;
}
.goods_wrapper .goods_item:hover {
  border: 1px solid #D6BBD3;
  box-shadow: 0 2px 10px #524351;
}

.good_wrapper {
  width: 30%;
  max-width: 377px;
}
.good_wrapper p:first-of-type {
  padding: 0 3px;
}
.good_wrapper p:last-of-type {
  font-size: 1.5em;
}

/*# sourceMappingURL=style.css.map */
